@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: #fff;
    font-family: "Parkinsans", serif;
}
.hover-scale{    
    transition: 0.5s;
    cursor: pointer;
}

.hover-scale:hover{
    transform: scale(0.8);
}